@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
body {
  margin: 5px;
  overflow: visible;
  font-size: 20px;
}
header,
section,
aside,
footer {
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}
header {
  background-color: #e5e5e5;
  /*background-image: url('./images/undraw_website_builder_re_ii6e.svg'); */
  background-position: right;
  background-repeat: no-repeat;
  background-size: 300px;
  color: tomato;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
header img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
}
header h1 {
  background-color: #e5e5e5;
  height: 100px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 111, 0);
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.menu {
  margin: 10px 5px;
  background-color: transparent;
  flex-basis: 200px;
  display: flex;
  background-color: #e5e5e5;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.flex-container {
  margin-top: 30px;
}
.content {
  width: 100%;
  display: flex;
  min-height: 1000px;
  background-image: url('./images/undraw_my_answer_re_k4dv.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  margin: 10px 0px;
  flex-grow: 1;
}

footer {
  background-color: #e5e5e5;
  color: tomato;
}
footer i {
  width: 30px;
  height: 30px;
  color: tomato;
}
.flex-container {
  display: flex;
}
#layout .p {
  border-radius: 10px;
  color: #ffffff;
  display: none;
  text-align: center;
  background-color: darkgreen;
  border: 1px solid #000;
  overflow-x: auto;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);

  align-items: center;
}
.breadcrumb {
  margin: 10px 0 !important;
}
.breadcrumb li a {
  text-decoration: none;
  color: #fd7e14;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

  font-size: 25px;
  font-weight: 450;
}
ul {
  list-style: none !important;
  display: flex;
  gap: 5px;
  list-style-type: none !important;
}
li + li::before {
  color: #000;
  content: '/\00a0';
}
#layout {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  align-content: flex-start;
  overflow: visible;
  z-index: 5;
  background: rgb(255, 111, 0) !important;
  border: 1px solid #000;
}
#area {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  overflow: auto;
  background: tomato;
  border: 1px solid #000;
  display: flex;
  border-radius: 5px;
}

.overflow-auto {
  overflow: auto;
}

.btn {
  width: 300px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);

  color: #fff;
  text-decoration: none;
  background-color: darkgreen;
}
.btn:hover {
  background-color: transparent;
  color: black;
}
@media print {
  .breadcrumb,
  .menu {
    display: none;
  }
  /* * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16pt;
    line-height: 24pt;
    background: none;
    color: #000;
  } */
  #layout,
  #container_1 #content,
  .container,
  footer,
  .side-bar,
  header {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    color: #000 !important;
    border: 1px solid #000;
    margin-bottom: 30px !important;
  }
  #content,
  .container h1,
  .container label,
  #content {
    text-shadow: none !important;
    font-size: 90px !important;
    font-weight: 500 !important;

    color: #000 !important;
  }
}
#content {
  font-family: sans-serif !important;
  gap: 20px;
  font-size: 30px;
  text-decoration-color: black;
  font-weight: 700;
  box-sizing: content-box;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
}
#content p {
  color: #000;
  background-color: #fd7e14;
  border-radius: 5px;
  padding: 5px;
}
#container_1 {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
}
#container_1 .container {
  border: 2px solid #000 !important;
  border-radius: 10px;
  background-color: rgb(255, 153, 0) !important;
  display: flex;
  width: 50%;
  margin: 0 5px;
  min-height: 60vh;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./images/undraw_tree_swing_re_pqee.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins';
  flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
}
#content {
  display: flex;
}
#content h1 {
  font-size: 30px !important;
  color: rgba(255, 255, 0, 0.6) !important;
  padding: 5px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9) !important;
}
#container_1 .container h1,
label {
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
#container_1 h1:hover {
  color: #000 !important;
}
/*Layout*/
#layout #p_1 {
  width: 304.2px;
  height: 725.59px;
}
#layout #p_2 {
  width: 310.68px;
  height: 619.37px;
}
#layout #p_3 {
  width: 269px;
  height: 247.76px;
}
#layout #p_4 {
  width: 310.68px;
  height: 912.6px;
}
#layout #p_5 {
  width: 448.4px;
  height: 448.4px;
}
#layout #p_6 {
  width: 305.2px;
  height: 279.68px;
}
#layout #p_7 {
  width: 304px;
  height: 942.4px;
}
#layout #p_8 {
  width: 275px;
  height: 297.92px;
}
#layout #p_9 {
  width: 275.12px;
  height: 267.92px;
}
#layout #p_10 {
  width: 299.212px;
  height: 375.869px;
}
#layout #p_11 {
  width: 317px;
  height: 381.368px;
}
label {
  font-size: 20px !important;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  padding: 24px;
  font-family: sans-serif;
}
input {
  width: 200px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
}
